@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    background: #fcfcfc;
    font-family: quicksand, sans-serif;
    font-size: 18px;
}
a{
    text-decoration: none;
}

.empty-container{
    margin: 70px;
    text-align: center;
    color: red;
    font-size: 20px;
    font-weight: bold;
   
}
.empty-container a {
   color : red;
}